# Default ignored files
/../../../:HN_JV231229_CB_NguyenVietDat/.idea/shelf/
/../../../:HN_JV231229_CB_NguyenVietDat/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:HN_JV231229_CB_NguyenVietDat/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:HN_JV231229_CB_NguyenVietDat/.idea/dataSources/
/../../../:HN_JV231229_CB_NguyenVietDat/.idea/dataSources.local.xml
